<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ContestQuestionMapper">

    <resultMap id="BaseResultMap" type="com.baimao.oj.model.entity.ContestQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="contestId" column="contestId" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="sequence" column="sequence" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contestId,questionId,
        sequence,createTime,updateTime,
        isDelete
    </sql>
</mapper>
